<footer>
    <div class="container-footer d-block">
        <p  class="ps-4"><img src="img/logo.png" alt="" width="33px" height="33px" title="image used"> Currency Chop</p>
        <li class="ps-4"><a href="https://github.com/LeonelCeballos18" target="_blank"><img src="img/github.svg" alt=""> LeonelCeb18</a></li>
        <p>Copyright © Leonel Ceballos</p>
    </div>
</footer>